#pannel {
    margin: 10px;
}

#pannel>* {
    padding: 10px;
}

#title>span {
    display: block;
    font-size: 160%;
    text-align: center;
}



body {
    background-color: rgb(246, 240, 216);
    font-family: 'Roboto', sans-serif;
    /* text color - white */
    /* color: white; */
    /* color: black; */
}

#pannel>* {
    margin-top:20px;

}
.p-float-label {
  font-family: 'Roboto', sans-serif;
  font-weight: bold
}
.p-button {
    margin-left: 20px;
    width: 100px;
}
.round-button {
  border-radius: 50%;
  width: 50px; /* Ширина кнопки */
  height: 50px; /* Высота кнопки */
}


#draw_field {


}
