#pannel {
    margin: 10px;
}

#pannel>* {
    padding: 10px;
}

#title>span {
    display: block;
    font-size: 160%;
    text-align: center;
}

#centr>* {
    width: 1000px;
    margin: auto;
}

body {
    /* background-color: black; */
    font-family: 'Roboto', sans-serif;
    /* text color - white */
    /* color: white; */
    /* color: black; */
}


